# Homework Exercises

## Part A

Answer these 3 questions without typing code. Then type code to check your answer.

- What is the value of the expression 4 * (6 + 5)

- What is the value of the expression 4 * 6 + 5

- What is the value of the expression 4 + 6 * 5

In [1]:
#44
print( 4 * (6 + 5) )

44

1. What is the type of the result of the expression 3 + 1.5 + 4?

In [3]:
#Float
a = 3 + 1.5 + 4
a?

2. Given the string `'hello'` give an index command that returns 'e'.

In [4]:
word = "hello"
print(word[1])

e

3. Given the string `hello`, give two methods of producing the letter 'o' using indexing.

In [8]:
print(word[4])
print(word[-1])

o
o

4. Given the following list, and using indexing, isolate the word 'hello'.

In [9]:
lst = [1, 2, [3, 4], 5, [100, 200], ['hello', 'nice'], 23, 11, 1, 7]
lst

[1, 2, [3, 4], 5, [100, 200], ['hello', 'nice'], 23, 11, 1, 7]

In [12]:
print(lst[5][0])

hello

5. Using keys and indexing, grab the `'hello'` from the following dictionary

In [13]:
d = {'msg':'hello', 'day':'sunday', 'month':'may', 'age':21, 'people':['bob', "ana", 'john']}
d

{'msg': 'hello',
 'day': 'sunday',
 'month': 'may',
 'age': 21,
 'people': ['bob', 'ana', 'john']}

In [17]:
print(d['msg'])

hello

6. What is the major difference between tuples and lists?

In [ ]:
Tuples are immutable and lists are mutable

## Part B

1. What is the output of the following function that receives two numbers as arguments?

In [20]:
def smaller(x, y):
    if x <= y:
        return x
    else:
        return y

# The function returns x if it is as big as y and smaller then y or y (if it is bigger than x)

In [30]:
x = 10
y = 3
print(smaller(x, y))

# The function returns y so 3 because it is smaller than x so 10

3

2. Write a function that takes two numbers and returns the biggest one

In [24]:
def bigger(x, y):
  if x < y:
    return y
  if x == y:
    return "The numbers have the same size"
  else:
    return y

3. Write a function that calculates the sum of two numbers

In [26]:
def sum_numbers(x, y):
    sum = x + y
    pass

4. Write a function that checks if a number is negative

In [31]:
def negative(x):
  if x < 0:
    return "The number is not negative"

## Check if a number is multiple of another
Consider the following function that takes two arguments and checks if the first is multiple of the second

In [2]:
def is_multiple(x, y):
    return x % y == 0

In [ ]:
print(is_multiple(9,3))

True

1. Write a function that checks if a number is even

In [4]:
def is_even(x):
    x = ( x % 2 )
    x == 0
    pass

## Control structures: `for` and `while`
Consider the following function that sums all the numbers up to a number `n`

In [5]:
def sum_naturals_up_to(n):
    total = 0
    i = 1
    while i <= n:
        total = total + i
        i = i + 1
    return total

In [6]:
sum_naturals_up_to(5)

15

1. Write a function that sums all the numbers between `a` and `b` (including them)

In [ ]:
def sum_naturals(a, b):

    pass

2. Write a function that sums all the even numbers between `a` and `b` (including 'a' and 'b')

In [ ]:
def sum_even_naturals(a, b):
    # TODO
    pass

## Control structures: for loop

Consider the following function that sums all the numbers up to a number `n`

In [ ]:
def sum_naturals_up_to2(n):
    total = 0
    for i in range(n+1):
        total = total + i
    return total

In [ ]:
sum_naturals_up_to2(5)

15

1. Write a function that sums all the numbers between `a` and `b` (including them)

In [ ]:
def sum_naturals(a, b):
    # TODO
    pass

2. Write a function that sums all the even numbers between `a` and `b` (including 'a' and 'b')

In [ ]:
def sum_even_naturals(a, b):
    # TODO
    pass

3. Write the multiplication table for the numbers 1 to 10

## Input and output
The following function asks for a positive number until a positive number is introduded

In [ ]:
def positive_number():
    n = float(input("Positive number:"))
    while n <= 0:
        print("The number {} is not positive".format(n))
        n = float(input("Positive number:"))
    return n

mynum = positive_number()
mynum

Positive number: 2

2.0

1. Write a function that asks for a valid age. By default, a valid age belongs to the interval [0..100]

In [18]:
from ast import And
def ask_for_age(a=0, b=100):
    n = int(input("Type in your age: "))
    if n >= a and n <=b:
      return print("valid age")
    else:
     return ("invalid age")
ask_for_age()

Type in your age: 122

'invalid age'

## Lists
The following function caclulates the sum of all numbers in a given list

In [ ]:
def sum_all(lst):
    total = 0.0
    for num in lst:
        total = total + num
    return total

In [ ]:
sum_all([3, 2, 7])

12.0

1. Write a function that receives a list of numbers as argument and returns their average

In [10]:
def average(lst):
    total = 0
    n = 0
    for val in lst:
      total = total + lst[n]
    total = total /
    return total